@charset "UFT-8";

@font-face {
    font-family: "gtr";
    src: url(img/StickySugary.ttf) format("truetype");
}

@font-face {
    font-family: "gtf";
    src: url(img/JetBrainsMono-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "gti";
    src: url();
}

body {
    background-color: black;
    font-family: "gtf";
}

.cor {
    color: hsl(195, 95%, 15%);
    font-family: "gtr";
    padding-top: 60px;
    font-size: 2.5em;
}


.photo {
    display: block;
    margin: 40px auto;
    width: 350px;
    border-radius: 10px;
}
.photoCat{
    display: block;
    margin: 40px auto;
    width: 100px;
    border-radius: 10px;
}

.shad {
    box-shadow: 0px 0px 13px 1px rgba(255, 255, 255, 0.347);
}

.text {
    text-align: justify;
}

.color {
    color: rgb(110, 19, 110);
}

.textcolor {
    color: rgb(8, 8, 109);
}

.text-d {
    color: rgb(107, 3, 3);
}

.text-l {
    color: rgb(162, 162, 162);
}

.text-w {
    color: rgb(194, 194, 11);
}

.text-s {
    color: white;
}

.titulo {
    color: #103778;
}

section {
    display: grid;
    place-items: center;
    align-items: center;
}

.hidden {
    opacity: 0;
    filter: blur(10px);
    transition: all 1s;
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transition: all 1s;
    transform: translateX(0);
}

.footer {
    margin-top: 90px;
    text-decoration: none;
    color: #103778;
}